[Unit]
Description=My Message Service: writes date and time to the system log
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mymsg.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
